# Dependencies
node_modules/
elm-stuff/

# Build output
dist/
build/

# Logs and debug files
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating system files
.DS_Store
.vscode/

# Archives
*.zip